<% include ./partials/header %>

<h1>New Post</h1>
<form action="/posts" method="POST">
  <div class="form-group">
    <div class="field">
      <input 
        type="text" 
        class="form-control" 
        name="title" 
        placeholder="Enter title here">
    </div>
  </div>
  <div class="form-group">
    <div class="form-group">
      <textarea 
        id="summernote" 
        type="text" 
        class="form-control" 
        name="entry" 
        placeholder="New post"></textarea>
      </div>
  </div>
  <div class="form-group">
    <input 
      type="text" 
      class="form-control" 
      name="author" 
      placeholder="Author">
  </div>
  <div class="form-group"> 
    <button class="btn btn-primary btn-lrg btn-block">Publish</button>
  </div>
</form>

<% include ./partials/footer %>