<% include ./partials/header %>

<% posts.forEach(function(post){%>
  <h1><%= post.title %></h1>
  <p><%= post.entry %></p>
  <p><%= post.name %></p>
<%});%>

<a href="/posts/new" class="btn btn-primary btn-lg" role="button">New Post</a>

<% include ./partials/footer %>