body {
  background: #f7f7f7;
}

/*
*
* posts
*
*/

.main-posts {
  padding: 20px 20px 10px;
}

.post {
  background-color: white;
  padding:  15px;
  margin-bottom: 20px;
}

.post-head {
  text-align: center;
}

.post-date {
  color: rgb(123, 123, 123);
  font-size: 11px;
  margin-bottom: 13px;
}

.post-title {
  color: #222222;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 4px;
}

.post .entry {
  margin-bottom: 37px;
  padding: 0 20px;
}

.post .entry p {
  font-size: 14.5px;
  line-height: 1.7;
  color: #7b7b7b;
}

/*
*
* posts/new 
*
*/

.main-new {
  padding: 10px 17px 10px;
}

.form {
  background-color: white;
  border-radius: 20px;
  padding:  20px 10px 10px;
  margin-bottom: 20px;
}

/*
*
* posts/show 
*
*/

.main-post {
  padding: 20px 20px 10px;
}

.show-entry:after {
  content: "";
  display: block;
  width: 100%;
  min-width: 30px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin-bottom: 1em;
}

.show-btns {
  padding: 20px;
}

/*
*
* posts/edit 
*
*/

.main-edit {
  padding: 10px 17px 10px;
}

/*
*
* login 
*
*/

.main-login {
  padding: 10px 17px 10px;
}
